*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(backimg.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
.container{
    margin-left: 35%;
    margin-top: 10%;
    width: 30%;
    height: 400px;
    border-radius: 10px;
    align-items: center;
    background: rgba(0,0,0,0.1);
    box-shadow: 40px 40px 40px 40px rgba(0,0,0, 1);


}
h1{
    text-align: center;
    padding-top: 20px;
    color: white;
}

#name{
    height: 45px;
    width: 60%;
    margin-left: 20%;
    margin-top: 50px;
    border-radius: 5px;
    font-size: 20px;
    background: rgba(0,0,0,0.1);
    box-shadow: 0 0 0 0 rgba(0,0,0, 1);
}
::placeholder{
    color: white;
}
#pass{
    height: 45px;
    width: 60%;
    margin-left: 20%;
    margin-top: 50px;
    border-radius: 5px;
    font-size: 20px;
    background: rgba(0,0,0,0.1);
    box-shadow: 0 0 0 0 rgba(0,0,0, 1); 
}
#button{
    height: 45px;
    width: 30%;
    margin-left: 135px;
    margin-top: 50px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    background: rgba(0,0,0,0.1);
    box-shadow: 0 0 0 0 rgba(0,0,0, 1);
    color: white;

}